/* cyrillic-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOOaBTMnFcQIG.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIMeaBTMnFcQIG.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOOaBTMnFcQIG.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIMeaBTMnFcQIG.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    --body-bg: #c9bea28f;

    background-color: var(--body-bg);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.music-player {
    --bg-color: #fff;
    --bg-progress-bar: #e5e7ea;
    --bg-progress-active: #78adfe;
    --bg-progress-point: #5781bd;

    --player-change-duration: 1s;
    --image-change-function: cubic-bezier(0.4, 0, 0.2, 1);
    --timeline-change-function: cubic-bezier(0.71, 0.21, 0.3, 0.95);

    --box-shadow: 0 2px 6px 1px #0000001f;

    --main-text: #000;
    --accent-text: #0000006b;

    --border-color: #d8d8d859;

    --songs-gap: 0.75em;
    --border-radius: 1.625em;
    --offset-cover: 1.60125em;
    --cover-size: 3.8125em;
    --duration-size: 2.8em;

    --title-margin: 0.7875em;
    --song-title-fs: 1.06875em;
    --song-author-fs: 0.85em;

    --player-width: 21em;
    /* player-width - 2*offset-cover - songs-gap - cover-size */
    --controls-width: 13.235em;
    --controls-resize-width: 19em;
    --player-big-height: 24.375em;
    --player-small-height: 7.125em;

    font-family: 'Nunito', sans-serif;
    font-size: 1.17132vw;
    line-height: 1.3;
    color: var(--main-text);

    background-color: var(--bg-color);
    border-radius: var(--border-radius);

    max-width: var(--player-width);
    width: 100%;

    overflow: hidden;
    user-select: none;

    display: flex;
    flex-direction: column;
}

.music-player__slider {
    --shadow-opacity: 1;

    flex-basis: var(--player-small-height);
    flex-shrink: 0;
    flex-grow: 0;

    position: relative;
    z-index: 1;

    border-radius: var(--border-radius);

    transition: flex var(--player-change-duration) var(--timeline-change-function);
}

.music-player__slider::after {
    position: absolute;
    inset: 0;
    content: "";
    z-index: -1;
    pointer-events: none;
    border-radius: inherit;
    box-shadow: var(--box-shadow);
    opacity: var(--shadow-opacity);
    transition: var(--player-change-duration) opacity;
}

.music-player__slider--big {
    flex-basis: var(--player-big-height);
}

.music-player__broadcast {
    background: rgba(0, 0, 0, .5);
    color: var(--bg-progress-bar);

    position: absolute;
    top: 5%;
    left: 5%;

    border: 0;
    border-radius: .3em;
    margin: 0;
    padding: .3em;

    cursor: pointer;

    z-index: 3;

    display: flex;

    width: 3em;
    aspect-ratio: 1;

    transform: scale(0);
    transition: transform var(--player-change-duration) var(--image-change-function);
}

.music-player__broadcast:hover {
    background: rgba(0, 0, 0, .3);
}

.music-player__slider--big .music-player__broadcast {
    transform: scale(1);
}

.music-player__broadcast-icon {
    fill: currentColor;
}

.music-player__playlist {
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
}

.music-player__slider-content {
    position: absolute;
    top: 0;
    left: 0;

    width: var(--cover-size);
    aspect-ratio: 1;

    overflow: hidden;
    border-radius: var(--border-radius);

    transition: transform, width;
    transition-duration: var(--player-change-duration);
    transition-timing-function: var(--timeline-change-function);
    transform: translate3d(var(--offset-cover), var(--offset-cover), 0);
}

.music-player__controls {
    position: absolute;
    top: 0;
    right: 0;

    width: var(--controls-width);

    transition: transform, width;
    transition-duration: var(--player-change-duration);
    transition-timing-function: var(--timeline-change-function);
    transform: translate3d(calc(-1*var(--offset-cover)), var(--offset-cover), 0);

    display: grid;
    gap: .05em;
    grid-template-columns: 2.5em 1fr 2em;
    grid-template-areas: "back title  next"
                         "back author next"
                         "progress progress progress";
}

.music-player__slider--big .music-player__controls {
    --offset-x: calc( -1 * (var(--player-width) - var(--controls-resize-width)) / 2 );
    width: var(--controls-resize-width);
    transform: translate3d(var(--offset-x), var(--player-big-height), 0) translateY(-100%);
}

.music-player__slider--big .music-player__slider-content {
    transform: translate3d(0, 0, 0);
    width: 100%;
    aspect-ratio: 21 / 18;
}

.music-player__switch-button--back {
    grid-area: back;
}

.music-player__switch-button--next {
    grid-area: next;
}

.music-player__controls-title {
    grid-area: title;
    justify-self: center;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.music-player__controls-author {
    grid-area: author;
    justify-self: center;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.music-player__progress {
    --value: 0%;
    grid-area: progress;
    justify-self: center;
    width: 90%;
    padding: .9em .5em;
    cursor: pointer;
}

.music-player__progress-wrapper {
    width: 100%;
    height: 0.3125em;
    position: relative;
    border-radius: 1em;
    background-color: var(--bg-progress-bar);
}

.music-player__progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: 100%;
    border-radius: inherit;
    background-color: var(--bg-progress-active);
    transform: scaleX(var(--value));
    transform-origin: 0 center;
}

.music-player__progress-wrapper::after {
    top: 50%;
    left: var(--value);
    content: "";
    position: absolute;
    width: 0.4375em;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-progress-point);
}

.music-player__switch-button {
    align-self: center;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: var(--bg-color);
    color: var(--main-text);
    cursor: pointer;
}

.music-player__switch-button:hover {
    color: var(--bg-progress-active);
}

.music-player__switch-button-icon {
    fill: currentColor;
}

.music-player__play-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    color: var(--bg-progress-bar);

    position: absolute;

    inset: 50% auto auto 50%;
    width: var(--cover-size);
    aspect-ratio: 1;
    transform: translate(-50%, -50%);

    z-index: 99;

    border: 0;
    margin: 0;
    padding: 0;

    cursor: pointer;

    opacity: 0;
    transition: opacity var(--player-change-duration) var(--image-change-function);
}

.music-player__play-toggle:hover {
    opacity: 1;
}

.music-player__action-icon {
    position: absolute;
    inset: .9em;

    fill: currentColor;
}

.music-player__play-toggle--play .music-player__action-icon--play {
    display: block;
}

.music-player__play-toggle--play .music-player__action-icon--pause {
    display: none;
}

.music-player__play-toggle--pause .music-player__action-icon--play {
    display: none;
}

.music-player__play-toggle--pause .music-player__action-icon--pause {
    display: block;
}

.music-player__slider--big .music-player__play-toggle {
    opacity: 1;
}

.music-player__slider-images {
    position: relative;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.music-player__slider-image {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    opacity: 0;
    z-index: 1;

    transition: opacity var(--player-change-duration) var(--image-change-function) 0s;
}

.music-player__slider-image--active {
    opacity: 1;
    z-index: 2;
}

.music-player__slider-images--slide .music-player__slider-image {
    transition: transform var(--player-change-duration) var(--image-change-function) 0s;
    opacity: 1;
}

.music-player__slider-images--slide .music-player__slider-image--active {
    transform: translateX(0);
}

.music-player__slider-images--slide .music-player__slider-image--next {
    transform: translateX(100%);
    z-index: 3;
}

.music-player__slider-images--slide .music-player__slider-image--back {
    transform: translateX(-100%);
    z-index: 1;
}

.music-player__playlist {
    list-style: none;

    margin: 0;
    padding: 0 var(--offset-cover);

    display: flex;
    flex-direction: column;
}

.music-player__song {
    display: grid;
    grid-template-columns: var(--cover-size) 1fr var(--duration-size);
    /* grid-template-rows: ; */
    grid-template-areas: "img title title" "img author duration";
    gap: 0 var(--title-margin);

    cursor: pointer;
    padding: var(--songs-gap) 0;
    border-bottom: 2px solid var(--border-color);

    background-color: var(--bg-color);
    transition: background-color .6s ease-in 0s;
}

.music-player__song:hover, .music-player__song--active {
    background-color: var(--border-color);
}

.music-player__song-img {
    grid-area: img;

    width: 100%;
    aspect-ratio: 1;

    border-radius: var(--border-radius);

    object-fit: cover;
    object-position: center;
}

.music-player__song-title {
    grid-area: title;
    align-self: end;
}

.music-player__title {
    font-weight: bold;
    font-size: var(--song-title-fs);

    white-space: nowrap;
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;

    text-transform: capitalize;
}

.music-player__song-author {
    grid-area: author;
    align-self: start;
}

.music-player__author {
    font-size: var(--song-author-fs);
    font-weight: bold;
    color: var(--accent-text);

    white-space: nowrap;
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;

    text-transform: capitalize;
}

.music-player__song-duration {
    grid-area: duration;

    align-self: start;

    font-size: var(--song-author-fs);
    font-weight: bold;
    color: var(--accent-text);
}