body {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div--date {
    height: 50em;
    width: 50em;
    justify-content: center;
    align-items: center;    
    display: flex;
    background-color: black;
}

.div--date p {
    color: white;
    font-size: 2em;
}